
<!DOCTYPE html>


	<!-- Theme Stylesheet
	================================================== -->




		<!-- Content
		================================================== -->
		<section id="content">








				<div id="content-grid">






					<article class="post


					                     quote




					                     ">








							<!-- Quote Post -->
							<div class="quote">
								<blockquote>
									<p>Design is a funny word. Some people think design means how it looks. But of course, if you dig deeper, it’s really how it works.</p>
								</blockquote>
							</div>


								<div class="post-content source">
									<p>Steve Jobs</p>
								</div>















							<!-- Post Meta -->
							<footer class="post-meta clear">

								<!-- Date of post -->
								<span class="date">
									<a href="http://memories.themelantic.com/post/90006643067/design-is-a-funny-word-some-people-think-design">1 year ago</a>
								</span>

								<!-- Like Button -->
								<span class="like action">
									<div class="like_button" data-post-id="90006643067" id="like_button_90006643067"><iframe id="like_iframe_90006643067" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=7e54d4bd89ee867096df32769aefa90c#name=memories-theme&amp;post_id=90006643067&amp;rk=psM80uYM&amp;root_id=90006643067" scrolling="no" width="20" height="20" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_90006643067"></iframe></div>
									<a href="#" class="like-button"></a>
								</span>

								<!-- Reblog Button -->
								<span class="reblog action">
									<a href="https://www.tumblr.com/reblog/90006643067/psM80uYM" class="reblog_button"style="display: block;width:20px;height:20px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ccc"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
									<a href="#" class="reblog-button"></a>
								</span>


									<!-- Tags -->
									<ul class="tags">

											<li><a href="http://memories.themelantic.com/tagged/quote">quote</a></li>

											<li><a href="http://memories.themelantic.com/tagged/steve-jobs">steve jobs</a></li>

									</ul>




							</footer>



					</article>





					<article class="post




					                     chat


					                     ">












							<!-- Chat Post -->
							<div class="post-content">


									<h3>
										<a href="http://memories.themelantic.com/post/90006578362/never-gonna-give-you-up">Never gonna give you up</a>
									</h3>


								<ul class="chat">


										<li class="odd user_1">


												<span class="label">Rick Astley:</span>


											Inside, we both know what&#039;s been going on


										</li>

										<li class="even user_2">


												<span class="label">Rick Astley2:</span>


											We know the game and we&#039;re gonna play it


										</li>

										<li class="odd user_1">


												<span class="label">Rick Astley:</span>


											I just wanna tell you how I&#039;m feeling


										</li>

										<li class="even user_2">


												<span class="label">Rick Astley2:</span>


											Gotta make you understand

										</li>


								</ul>

							</div>










							<!-- Post Meta -->
							<footer class="post-meta clear">

								<!-- Date of post -->
								<span class="date">
									<a href="http://memories.themelantic.com/post/90006578362/never-gonna-give-you-up">1 year ago</a>
								</span>

								<!-- Like Button -->
								<span class="like action">
									<div class="like_button" data-post-id="90006578362" id="like_button_90006578362"><iframe id="like_iframe_90006578362" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=7e54d4bd89ee867096df32769aefa90c#name=memories-theme&amp;post_id=90006578362&amp;rk=aTbshH2J&amp;root_id=90006578362" scrolling="no" width="20" height="20" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_90006578362"></iframe></div>
									<a href="#" class="like-button"></a>
								</span>

								<!-- Reblog Button -->
								<span class="reblog action">
									<a href="https://www.tumblr.com/reblog/90006578362/aTbshH2J" class="reblog_button"style="display: block;width:20px;height:20px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ccc"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
									<a href="#" class="reblog-button"></a>
								</span>





							</footer>



					</article>





					<article class="post

					                     photoset





					                     ">






							<!-- Photo Sets -->
							<div class="photoset-grid" data-layout="12" data-id="photoset90006485807">

									<img src="http://41.media.tumblr.com/99442bd4ec0f9622f63f588af11f2d54/tumblr_mq09o0oIPm1sa1mjyo1_500.jpg"  data-highres="http://36.media.tumblr.com/99442bd4ec0f9622f63f588af11f2d54/tumblr_mq09o0oIPm1sa1mjyo1_1280.jpg" alt="candis-theme:

Stunning photographs by Superfamous a Los Angeles-based studio by Folkert Gorter. Licensed under&nbsp;Creative Commons Attribution 3.0.
" />

									<img src="http://41.media.tumblr.com/1f88e35dd4ab0b4c72b765614f40656a/tumblr_mq09o0oIPm1sa1mjyo3_500.jpg"  data-highres="http://40.media.tumblr.com/1f88e35dd4ab0b4c72b765614f40656a/tumblr_mq09o0oIPm1sa1mjyo3_1280.jpg" alt="candis-theme:

Stunning photographs by Superfamous a Los Angeles-based studio by Folkert Gorter. Licensed under&nbsp;Creative Commons Attribution 3.0.
" />

									<img src="http://40.media.tumblr.com/335608c5a0731bab6d83c85be492309d/tumblr_mq09o0oIPm1sa1mjyo2_500.jpg"  data-highres="http://40.media.tumblr.com/335608c5a0731bab6d83c85be492309d/tumblr_mq09o0oIPm1sa1mjyo2_1280.jpg" alt="candis-theme:

Stunning photographs by Superfamous a Los Angeles-based studio by Folkert Gorter. Licensed under&nbsp;Creative Commons Attribution 3.0.
" />

							</div>


								<div class="post-content caption"><p><a class="tumblr_blog" href="http://candis-theme.tumblr.com/post/55561134815/stunning-photographs-by-superfamous-a-los">candis-theme</a>:</p>
<blockquote>
<p>Stunning photographs by <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Fsuperfamous.com%2F&amp;t=MTkzMzFjNDBjYmYyMGMzOGQ4ZTY3NzdkMWE3MzJmMDFjM2ViMGFlYywzRFNSQXAzcg%3D%3D">Superfamous</a> a Los Angeles-based studio by Folkert Gorter. Licensed under&nbsp;Creative Commons Attribution 3.0.</p>
</blockquote><p>(via <a href='http://candis.themelantic.com/post/55561134815/stunning-photographs-by-superfamous-a-los'>candis-theme</a>)</p></div>

















							<!-- Post Meta -->
							<footer class="post-meta clear">

								<!-- Date of post -->
								<span class="date">
									<a href="http://memories.themelantic.com/post/90006485807/candis-theme-stunning-photographs-by">1 year ago</a>
								</span>

								<!-- Like Button -->
								<span class="like action">
									<div class="like_button" data-post-id="90006485807" id="like_button_90006485807"><iframe id="like_iframe_90006485807" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=7e54d4bd89ee867096df32769aefa90c#name=memories-theme&amp;post_id=90006485807&amp;rk=3DSRAp3r&amp;root_id=55561134815" scrolling="no" width="20" height="20" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_90006485807"></iframe></div>
									<a href="#" class="like-button"></a>
								</span>

								<!-- Reblog Button -->
								<span class="reblog action">
									<a href="https://www.tumblr.com/reblog/90006485807/3DSRAp3r" class="reblog_button"style="display: block;width:20px;height:20px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ccc"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
									<a href="#" class="reblog-button"></a>
								</span>





							</footer>



					</article>





					<article class="post







					                     answer">


















							<!-- Answer Post -->
							<div class="post-content answer">

								<div class="question">

									<span class="asker">
										<img src="http://38.media.tumblr.com/avatar_09bfe078f16c_24.png" alt="Asker Portrait" class="asker-portrait" /> chipset009 asked
									</span>

									<p>Hello, sed eget consectetur eros, id faucibus mi?</p>

								</div>

								<div class="answer"><p><span>Vivamus hendrerit sodales purus, eget ullamcorper lectus.</span></p></div>

							</div>




							<!-- Post Meta -->
							<footer class="post-meta clear">

								<!-- Date of post -->
								<span class="date">
									<a href="http://memories.themelantic.com/post/90006445067/hello-sed-eget-consectetur-eros-id-faucibus-mi">1 year ago</a>
								</span>

								<!-- Like Button -->
								<span class="like action">
									<div class="like_button" data-post-id="90006445067" id="like_button_90006445067"><iframe id="like_iframe_90006445067" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=7e54d4bd89ee867096df32769aefa90c#name=memories-theme&amp;post_id=90006445067&amp;rk=XWdjcATX&amp;root_id=90006445067" scrolling="no" width="20" height="20" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_90006445067"></iframe></div>
									<a href="#" class="like-button"></a>
								</span>

								<!-- Reblog Button -->
								<span class="reblog action">
									<a href="https://www.tumblr.com/reblog/90006445067/XWdjcATX" class="reblog_button"style="display: block;width:20px;height:20px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ccc"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
									<a href="#" class="reblog-button"></a>
								</span>





							</footer>



					</article>





					<article class="post text







					                     ">


							<!-- Text Post -->
							<div class="post-content">


									<h2>
										<a href="http://memories.themelantic.com/post/90005952182/quisque-facilisis-erat-a-dui">Quisque facilisis erat a dui</a>
									</h2>


								<p>Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus.</p>
<p>Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.Lorem ipsum dolor sit amet, <a href="http://candis-theme.tumblr.com/">consectetuer adipiscing</a> elit.</p>
<p>Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.</p>
<blockquote>
<p>Donec porttitor ligula eu dolor. </p>
</blockquote>
<p>Maecenas vitae nulla consequat libero cursus venenatis. Nam magna enim, accumsan eu, blandit sed, blandit a, eros.</p>
<p class="read_more_container"><a href="http://memories.themelantic.com/post/90005952182/quisque-facilisis-erat-a-dui" class="read_more">Keep reading</a></p>

							</div>




















							<!-- Post Meta -->
							<footer class="post-meta clear">

								<!-- Date of post -->
								<span class="date">
									<a href="http://memories.themelantic.com/post/90005952182/quisque-facilisis-erat-a-dui">1 year ago</a>
								</span>

								<!-- Like Button -->
								<span class="like action">
									<div class="like_button" data-post-id="90005952182" id="like_button_90005952182"><iframe id="like_iframe_90005952182" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=7e54d4bd89ee867096df32769aefa90c#name=memories-theme&amp;post_id=90005952182&amp;rk=6hygX9IR&amp;root_id=90005952182" scrolling="no" width="20" height="20" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_90005952182"></iframe></div>
									<a href="#" class="like-button"></a>
								</span>

								<!-- Reblog Button -->
								<span class="reblog action">
									<a href="https://www.tumblr.com/reblog/90005952182/6hygX9IR" class="reblog_button"style="display: block;width:20px;height:20px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ccc"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
									<a href="#" class="reblog-button"></a>
								</span>





							</footer>



					</article>





					<article class="post
					                     photo






					                     ">




							<!-- Photo Post -->
							<div class="photo">

								<a href="http://41.media.tumblr.com/47fbd8d9ee00940d197b24f073e9f356/tumblr_n7succO1em1te9e5wo1_1280.jpg" rel="zoom" class="zoom view"></a>
								<a href="http://memories.themelantic.com/image/90005878902"><img src="http://41.media.tumblr.com/47fbd8d9ee00940d197b24f073e9f356/tumblr_n7succO1em1te9e5wo1_1280.jpg" alt="An awesome photo by Vadim Sherbakov. You can download it completely free over at unsplash.com" /></a>

							</div>


								<div class="post-content caption"><p>An awesome photo by Vadim Sherbakov. You can download it completely free over at <a href="http://t.umblr.com/redirect?z=http%3A%2F%2Funsplash.com&amp;t=YWExZjQyOGYwOTg5ZTBjOTdhZDQ1YjczNjZiYzYyNzk3YzcwMWE1ZSx2ZUhiTlBxNg%3D%3D">unsplash.com</a></p></div>



















							<!-- Post Meta -->
							<footer class="post-meta clear">

								<!-- Date of post -->
								<span class="date">
									<a href="http://memories.themelantic.com/post/90005878902/an-awesome-photo-by-vadim-sherbakov-you-can">1 year ago</a>
								</span>

								<!-- Like Button -->
								<span class="like action">
									<div class="like_button" data-post-id="90005878902" id="like_button_90005878902"><iframe id="like_iframe_90005878902" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=7e54d4bd89ee867096df32769aefa90c#name=memories-theme&amp;post_id=90005878902&amp;rk=veHbNPq6&amp;root_id=90005878902" scrolling="no" width="20" height="20" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_90005878902"></iframe></div>
									<a href="#" class="like-button"></a>
								</span>

								<!-- Reblog Button -->
								<span class="reblog action">
									<a href="https://www.tumblr.com/reblog/90005878902/veHbNPq6" class="reblog_button"style="display: block;width:20px;height:20px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ccc"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
									<a href="#" class="reblog-button"></a>
								</span>


									<!-- Tags -->
									<ul class="tags">

											<li><a href="http://memories.themelantic.com/tagged/glasses">glasses</a></li>

											<li><a href="http://memories.themelantic.com/tagged/headphones">headphones</a></li>

									</ul>




							</footer>



					</article>







			</div>

			<!-- Pagination -->


					<a href="/page/2" class="pagination" data-end="No More Posts.">Load More Posts</a>





		</section>

	</div>

	<!-- Assets (DO NOT DELETE THIS)
	================================================== -->

	<!-- Prettify for code formatting -->
	<script src="http://static.tumblr.com/ztelplt/6Q3mpqey4/prettify.js"></script>

	<!-- Plugins of the theme -->
	<script src="http://static.tumblr.com/wsikz9l/SBbntffs5/plugins.min.js"></script>

		<!-- Twitter Widget -->
		<script type="text/javascript">
			function recent_tweets(data) {

				var tweet_count = 3;
				var tweet = "";

				for (i=0; i<tweet_count; i++) {

					var tweet_text = data[i].text;

					tweet_text = tweet_text.replace(/(http\:\/\/[A-Za-z0-9\/\.\?\=\-]*)/g,'<a href="$1">$1</a>');
					tweet_text = tweet_text.replace(/@([A-Za-z0-9\/_]*)/g,'<a href="http://twitter.com/$1">@$1</a>');
					tweet_text = tweet_text.replace(/#([A-Za-z0-9\/\.]*)/g,'<a href="http://twitter.com/search?q=$1">#$1</a>');

					tweet += '<li>';
					tweet += '<p>' + tweet_text + '</p>';
					tweet += '<span class="tweet-date">';
					tweet += '<a href="http://twitter.com/themelantic/status/' + data[i].id_str + '">';
					tweet += jQuery.timeago(data[i].created_at);
					tweet += '</a>';
					tweet += '</span>';
					tweet += '</li>';

				}

				$("#twitter .tweets").append(tweet);

			}
		</script>

		<script type="text/javascript" src="/tweets.js"></script>







	<script>

		function intialize_theme(b, a) {



			    $(".photoset-grid").photosetGrid({
			        highresLinks: true,
			        onComplete: function() {
			            $(".photoset-grid a").addClass("view").each(function() {
			                $(this).attr("rel", $(this).parents(".photoset-grid").attr("data-id"))
			            });
			            if (a) {
			                a()
			            }
			            initialize_view()
			        }
			    });
			    if (b) {
			        b()
			    }
			    initialize_view();



		    prettyPrint()
		}

		function initialize_view() {
		    var c = jQuery("a.view[href]");
		    var b = {};
		    c.each(function() {
		        var d = this.rel;
		        if (d) {
		            if (!b[d]) {
		                b[d] = []
		            }
		            b[d].push(this)
		        } else {
		            new View(jQuery(this))
		        }
		    });
		    for (var a in b) {
		        new View(jQuery(b[a]))
		    }
		}
		$(function() {
		    intialize_theme(function() {
		        $("#content-grid").masonry({
		            columnWidth: 312,
		            gutter: 32,
		            itemSelector: ".post"
		        })
		    }, function() {
		        $("#content-grid").masonry()
		    });
		    $("#content .pagination").click(function(c) {
		        c.preventDefault();
		        if (!$(this).is(".loading") && !$(this).is(".disabled")) {
		            var b = $(this).attr("href");
		            var a = $(this);
		            $(a).addClass("loading");
		            $.ajax({
		                type: "POST",
		                url: b
		            }).done(function(e) {
		                var d = $(e).find("#content-grid > article");
		                $.each($(d).toArray(), function() {
		                    var f = $(this).css({
		                        opacity: 0
		                    });
		                    $("#content-grid").append(f);
		                    intialize_theme(function() {
		                        f.imagesLoaded(function() {
		                            f.animate({
		                                opacity: 1
		                            });
		                            $("#content-grid").masonry("appended", f)
		                        })
		                    }, function() {
		                        $("#content-grid").masonry()
		                    })
		                });
		                $("#content-grid").promise().done(function() {
		                    if ($(e).find(".pagination").attr("href")) {
		                        $(a).attr("href", $(e).find(".pagination").attr("href")).removeClass("loading")
		                    } else {
		                        $(a).attr("href", "#").text($(a).data("end")).removeClass("loading").addClass("disabled")
		                    }
		                });
		                history.pushState("", "", b)
		            })
		        }
		    });
		    if (window.devicePixelRatio >= 1.2) {
		        $("body").addClass("retina");
		        if ($("#logo img").attr("data-retina")) {
		            $("#logo img").load(function() {
		                var a = $(this).attr("data-retina");
		                var b = this.width;
		                var c = this.height;
		                $(this).css({
		                    width: b,
		                    height: c
		                }).attr("src", a)
		            })
		        }
		    }
		});

	</script>




		<!-- Google Analytics -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-57055539-26']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>


	<!-- Themelantic Promo -->
<link rel="stylesheet" type="text/css" href="http://static.tumblr.com/xdfupan/oF6nonbla/tl-promo-bar.css" />
<style>#tl-promo-bar h4, #tl-promo-bar h5 {line-height:1.1em;}
#tl-promo-bar h4 a, #tl-promo-bar h5 a {text-transform: none;}</style>
<div id="tl-promo-bar">
  <a href="http://themelantic.com/memories">
    <img src="http://static.tumblr.com/wsikz9l/vMFnt8cmu/memories-tumblr-theme.png" alt="Memories Theme" />
  </a>
  <div id="tl-promo-bar-text">
    <h4><a href="http://themelantic.com/memories">Memories Theme</a></h4>
    <h5><a href="http://themelantic.com">by Themelantic</a></h5>
  </div>
  <div id="tl-promo-bar-button"><a href="http://themelantic.com/memories">Buy Now</a></div>
</div>
<!-- End Themelantic Promo -->

<!-- BEGIN TUMBLR CODE --><iframe scrolling="no" width="1" height="1" frameborder="0" style="background-color:transparent; overflow:hidden; position:absolute; top:0; left:0; z-index:9999;" id="ga_target"></iframe><script type="text/javascript">
    (function(){
        var analytics_frame = document.getElementById('ga_target');
        var analytics_iframe_loaded;
        var user_logged_in;
        var blog_is_nsfw = 'No';
        var addthis_enabled = false;

        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
        eventer(messageEvent,function(e) {
            var message = (e.data && e.data.split) ? e.data.split(';') : '';
            switch (message[0]) {
                case 'analytics_iframe_loaded':
                    analytics_iframe_loaded = true;
                    postCSMessage();
                    postGAMessage();
                    postATMessage();
                    postRapidMessage();
                    break;
                case 'user_logged_in':
                    user_logged_in = message[1];
                    postGAMessage();
                    postATMessage();
                    break;
            }
        }, false);

        analytics_frame.src = "https://secure.assets.tumblr.com/analytics.html?f63f62d9d04a996a8fcb505da4e74841#" +
                              "http://memories.themelantic.com";
        function postGAMessage() {
            if (analytics_iframe_loaded && user_logged_in) {
                var is_ajax = false;
                analytics_frame.contentWindow.postMessage(['tick_google_analytics', is_ajax, user_logged_in, blog_is_nsfw, '/?route=%2F'].join(';'), analytics_frame.src.split('/analytics.html')[0]);
            }
        }
        function postCSMessage() {
            COMSCORE = true;
            analytics_frame.contentWindow.postMessage('enable_comscore;' + window.location, analytics_frame.src.split('/analytics.html')[0]);
        }
        function postATMessage() {
            if (addthis_enabled && analytics_iframe_loaded) {
                analytics_frame.contentWindow.postMessage('enable_addthis', analytics_frame.src.split('/analytics.html')[0]);
            }
        }
        function postRapidMessage() {
                            if (analytics_iframe_loaded) {
                    var is_ajax = '';
                    var route = '/';
                    var tumblelog_id = '190045879';
                    var yahoo_space_id = '1197719229';
                    var rapid_client_only = '1';
                    var apv = '1';
                    var rapid_ex = '';

                    analytics_frame.contentWindow.postMessage(
                        [
                            'tick_rapid', is_ajax, route, user_logged_in, tumblelog_id,
                            yahoo_space_id, rapid_client_only, apv, rapid_ex
                        ].join(';'),
                        analytics_frame.src.split('/analytics.html')[0]
                    );
                }
                    }
    })();
</script><script type="text/javascript">!function(s){s.src='https://px.srvcs.tumblr.com/impixu?T=1453978997&J=eyJ0eXBlIjoidXJsIiwidXJsIjoiaHR0cDpcL1wvbWVtb3JpZXMudGhlbWVsYW50aWMuY29tXC8iLCJyZXF0eXBlIjowLCJyb3V0ZSI6IlwvIn0=&U=ELPGMAKBBM&K=21446c3f1979fa03968063b4873178201198c2741df29aee239daeaa29ebc8ab&R='.replace(/&R=[^&$]*/,'').concat('&R='+escape(document.referrer)).slice(0,2000).replace(/%.?.?$/,'');}(new Image());</script><noscript><img style="position:absolute;z-index:-3334;top:0px;left:0px;visibility:hidden;" src="https://px.srvcs.tumblr.com/impixu?T=1453978997&J=eyJ0eXBlIjoidXJsIiwidXJsIjoiaHR0cDpcL1wvbWVtb3JpZXMudGhlbWVsYW50aWMuY29tXC8iLCJyZXF0eXBlIjowLCJyb3V0ZSI6IlwvIiwibm9zY3JpcHQiOjF9&U=ELPGMAKBBM&K=91d31a3c14ac1123972d0a8580afce76fae369b0ee673e5f7dbc12355d36d98a&R="></noscript><script >
        (function (w,d) {
            'use strict';
            var l = function(el, type, listener, useCapture) {
                el.addEventListener ?
                el.addEventListener(type, listener, !!useCapture) :
                el.attachEvent && el.attachEvent('on' + type, listener, !!useCapture);
            };
            var a = function () {
                                if (d.getElementById('tumblr-cdx')) {
                    return;
                }
                var s = d.createElement('script');
                var el = d.getElementsByTagName('script')[0];
                s.async = true;
                s.src = 'http://assets.tumblr.com/assets/scripts/vendor/cedexis/cedexis.radar.js?_v=7450eec657e34e1e41dac4e1af96a170';
                s.type = 'text/javascript';
                s.id = 'tumblr-cdx';
                d.body.appendChild(s);
            };
            l(w,'load',a);
        }(window, document));
</script><script type="text/javascript">!function(s){s.src='https://px.srvcs.tumblr.com/impixu?T=1453978997&J=eyJ0eXBlIjoicG9zdCIsInVybCI6Imh0dHA6XC9cL21lbW9yaWVzLnRoZW1lbGFudGljLmNvbVwvIiwicmVxdHlwZSI6MCwicm91dGUiOiJcLyIsInBvc3RzIjpbeyJwb3N0aWQiOiI5MDAwNjY0MzA2NyIsImJsb2dpZCI6IjE5MDA0NTg3OSIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiOTAwMDY1NzgzNjIiLCJibG9naWQiOiIxOTAwNDU4NzkiLCJzb3VyY2UiOjMzfSx7InJvb3RfYmxvZ2lkIjoiMTIyNDk5MzMzIiwicm9vdF9wb3N0aWQiOiI1NTU2MTEzNDgxNSIsInBvc3RpZCI6IjkwMDA2NDg1ODA3IiwiYmxvZ2lkIjoiMTkwMDQ1ODc5Iiwic291cmNlIjozM30seyJwb3N0aWQiOiI5MDAwNjQ0NTA2NyIsImJsb2dpZCI6IjE5MDA0NTg3OSIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiOTAwMDU5NTIxODIiLCJibG9naWQiOiIxOTAwNDU4NzkiLCJzb3VyY2UiOjMzfSx7InBvc3RpZCI6IjkwMDA1ODc4OTAyIiwiYmxvZ2lkIjoiMTkwMDQ1ODc5Iiwic291cmNlIjozM31dfQ==&U=ABIJGNOAPC&K=e7e8be7339af0454c3d9f6eef82926b4444a5548196dcf75f5f1b2ccde12cece&R='.replace(/&R=[^&$]*/,'').concat('&R='+escape(document.referrer)).slice(0,2000).replace(/%.?.?$/,'');}(new Image());</script><noscript><img style="position:absolute;z-index:-3334;top:0px;left:0px;visibility:hidden;" src="https://px.srvcs.tumblr.com/impixu?T=1453978997&J=eyJ0eXBlIjoicG9zdCIsInVybCI6Imh0dHA6XC9cL21lbW9yaWVzLnRoZW1lbGFudGljLmNvbVwvIiwicmVxdHlwZSI6MCwicm91dGUiOiJcLyIsInBvc3RzIjpbeyJwb3N0aWQiOiI5MDAwNjY0MzA2NyIsImJsb2dpZCI6IjE5MDA0NTg3OSIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiOTAwMDY1NzgzNjIiLCJibG9naWQiOiIxOTAwNDU4NzkiLCJzb3VyY2UiOjMzfSx7InJvb3RfYmxvZ2lkIjoiMTIyNDk5MzMzIiwicm9vdF9wb3N0aWQiOiI1NTU2MTEzNDgxNSIsInBvc3RpZCI6IjkwMDA2NDg1ODA3IiwiYmxvZ2lkIjoiMTkwMDQ1ODc5Iiwic291cmNlIjozM30seyJwb3N0aWQiOiI5MDAwNjQ0NTA2NyIsImJsb2dpZCI6IjE5MDA0NTg3OSIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiOTAwMDU5NTIxODIiLCJibG9naWQiOiIxOTAwNDU4NzkiLCJzb3VyY2UiOjMzfSx7InBvc3RpZCI6IjkwMDA1ODc4OTAyIiwiYmxvZ2lkIjoiMTkwMDQ1ODc5Iiwic291cmNlIjozM31dLCJub3NjcmlwdCI6MX0=&U=ABIJGNOAPC&K=1df7a5eda93874082fe55000295440ffe03e38d307fafdbbe3b4b93014aaf583&R="></noscript><script >
        (function (w,d) {
            'use strict';
            var l = function(el, type, listener, useCapture) {
                el.addEventListener ?
                el.addEventListener(type, listener, !!useCapture) :
                el.attachEvent && el.attachEvent('on' + type, listener, !!useCapture);
            };
            var a = function () {
                                if (d.getElementById('tumblr-cdx')) {
                    return;
                }
                var s = d.createElement('script');
                var el = d.getElementsByTagName('script')[0];
                s.async = true;
                s.src = 'http://assets.tumblr.com/assets/scripts/vendor/cedexis/cedexis.radar.js?_v=7450eec657e34e1e41dac4e1af96a170';
                s.type = 'text/javascript';
                s.id = 'tumblr-cdx';
                d.body.appendChild(s);
            };
            l(w,'load',a);
        }(window, document));
</script><iframe id="tumblr_controls" class="tumblr_controls" width="1" height="1" frameborder="0" scrolling="no" src="https://secure.assets.tumblr.com/assets/html/iframe/o.html?_v=6391d5c4d179969b9234058e0e1d30b3#src=http%3A%2F%2Fmemories.themelantic.com%2F&amp;lang=en_US&amp;name=memories-theme&amp;avatar=http%3A%2F%2F31.media.tumblr.com%2Favatar_460a4901a6e8_64.png&amp;title=Memories&amp;url=http%3A%2F%2Fmemories.themelantic.com%2F&amp;page_slide=slide"></iframe>
<div id="teaser_iframe_container" style="display:none;"><iframe scrolling="no" frameborder="0" src="http://assets.tumblr.com/assets/html/iframe/teaser.html?_v=24fde4d20dc01bd743f310d9d325dc94#src=http%3A%2F%2Fmemories.themelantic.com%2F&amp;lang=en_US&amp;name=memories-theme&amp;avatar=http%3A%2F%2F31.media.tumblr.com%2Favatar_460a4901a6e8_64.png&amp;title=Memories&amp;url=http%3A%2F%2Fmemories.themelantic.com%2F&amp;page_slide=slide" id="teaser_iframe" width="1" height="1"></iframe></div><script type="text/javascript">
    (function(Tumblr){
        var follow_iframe_initialized = false;
        if (Tumblr.FollowTeaser && Tumblr.PostMessageListener) {
            // Don't do anything until the first initialize event
            Tumblr.PostMessageListener.initialize(function(message, origin) {
                if (follow_iframe_initialized || message.length < 2) return;

                if (message[0] === 'follow_iframe' && message[1] === 'enable') {
                    Tumblr.FollowTeaser.current_page = 1;
                    Tumblr.FollowTeaser.infer_infinite_scroll = true;
                    Tumblr.FollowTeaser.create_from_tumblr_controls("http:\/\/assets.tumblr.com\/assets\/html\/iframe\/follow.html?_v=6ae2170f1e93ebe65fe0eea1db5d5c77");
                    Tumblr.FollowTeaser.scroll_listener(true);
                    follow_iframe_initialized = true;
                }
            });
        }
    })(this.Tumblr || (this.Tumblr = {}));
</script><!--[if IE]><script type="text/javascript">document.getElementById('tumblr_controls').allowTransparency=true;</script><![endif]--><!-- END TUMBLR CODE -->

</body>
</html>
